body {
  width : 100%;
  margin: auto;
  padding-top: 20px;
  font-family: Arial;
}

div:nth-of-type(1) {
  width : 48%;
  float : left;
}

div:nth-of-type(2) {
  width : 48%;
  float : right;
}

#Left img{
  max-width: 100%;
  height: auto;
  clip-path: polygon(5% 0, 5% 100%, 100% 50%);
}

#download {
  padding-left: 5%;
  font-size: 20px;
}

#form {
  width:40%;
  padding: 5px;
}

#button{
  width: 43%;
  padding: 5px;
}

#Right img{
  max-width: 25%;
  height: auto;
  margin-left: 70%;
  margin-right: 5%;
  margin-bottom: 5%;
}

#pre{
  margin-top: -15px;
}

th{
  padding-bottom: 10px;
  border-bottom: solid #2eb8b8;
}

th:hover{
  border-color: #47d1d1;
  cursor: pointer;
}

#bottom {
  text-align: right;
  padding-top: 30%;
  padding-right: 5%;
}

#footer{
  padding-right: 2%;
}
