body{
  background:;
  text-align: center;
}
table {

  border-collapse: collapse;
  width: 700px;
}

th,td{
  border: 2px solid #999;
  padding: 0.5rem;
  padding: 7px 10px 10px 10px;
}
p{
  line-height: 2px;
}
#h1{
  font-family: arial;
  margin: 100px auto;
  font-size: 30;
  color: white;
  width: 300px;
  height: 20px;
  padding: 60px;
  background-color: #0cb08b;
  box-shadow: 10px 10px 5px grey;
}

.content{
  background: white;
  width: 80%;
  padding: 0px;
  margin: 100px auto;
}

.pwp {
  text-align: center;
}

.head {
  color: #fff;
  background-color: #0cb08b;
}
